/** @format */

* {
   padding: 0;
   margin: 0;
}
body {
   background: linear-gradient(45deg, #00ff88, #d0ff00);
}
header {
   width: 100%;
   height: 40px;
   background-color: black;
}
.wrapper {
   height: calc(100vh - 50px);
}
.cardGame {
   margin: 10px auto;
   height: 90%;
}

.cardGame-blocCards {
   margin: 10px auto;
   width: 700px;
   height: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 2px;
   pointer-events: auto;
}

.cardGame-item {
   border-radius: 10px;
   border: 1px solid rgb(109, 109, 109);
   flex: 0 1 calc(25% - 4px);
   height: calc(25% - 4px);
   overflow: hidden;
   transition: 2s;
}
.cardGame-item-image {
   transition: 0.8s;
   backface-visibility: hidden;
   width: 100%;
   height: 100%;
   background: url(/image/1.jpg) no-repeat center;
   background-size: 100% 100%;
   transform: rotateY(180deg);
}
.cardGame__finish {
   transition: 0.8s;
   position: absolute;
   width: 100%;
   height: 100%;
   transform: rotateY(180deg);
   backface-visibility: hidden;
   p {
      margin-top: 70px;
      font-size: 55px;
      text-align: center;
      z-index: 5;
   }
}
.cardGame__finish::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background: linear-gradient(45deg, #ffbc00, #ff0058);
}
.cardGame__finish::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background: linear-gradient(315deg, #4dff03, #00d0ff);
   filter: blur(50px);
}
.cardGame__finish span {
   position: absolute;
   top: 6px;
   left: 6px;
   right: 6px;
   bottom: 6px;
   background: rgba(0, 0, 0, 0.6);
   z-index: -1;
}
header {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 25px;
   color: #ffff;
}

.header-title__open,
.header-title__openspan {
   color: #ffff;
   margin: 0 50px 0 50px;
}
.button-start {
   border-radius: 30px;
   border: 2px solid #ffff;
   width: 80px;
   width: 80px;
   height: 30px;
   background-color: black;
   color: #ffff;
   outline: none;
   transition: 1s;
}
.button-start:hover {
   box-shadow: 0 0 5px 5px rgb(255, 0, 0);
}
@media (max-width: 768px) {
   .cardGame-blocCards {
      max-width: 95%;
      height: 95%;
   }
}
@media (max-width: 600px) {
   .cardGame-blocCards {
      max-width: 95%;
      height: 95%;
   }
   header * {
      font-size: 17px;
   }
   .button-start {
      width: 50px;
   }
   .header-title__open {
      margin: 0 30px 0 30px;
   }
}
@media (max-width: 400px) {
   .cardGame-blocCards {
      max-width: 95%;
      height: 95%;
   }
   header * {
      font-size: 13px;
   }
   .button-start {
      width: 50px;
   }
}
